<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <nav class="nav">
      <div class="nav-container">
        <a href="{{ site.baseurl }}/">
          <h2 class="nav-title">{{ site.title }}</h2>
        </a>
        <ul class="nav-social-icons" style="top:-20px;">
          {% if site.social.email %}
            <li><a rel="noopener" target="_blank" href="mailto:{{ site.social.email }}"><i class="fas fa-envelope"></i></a></li>
          {% endif %}
          {% if site.social.github %}
            <li><a rel="noopener" target="_blank" href="{{ site.social.github }}"><i class="fab fa-github"></i></a></li>
          {% endif %}
          {% if site.social.twitter %}
            <li><a rel="noopener" target="_blank" href="{{ site.social.twitter }}"><i class="fab fa-twitter"></i></a></li>
          {% endif %}
          {% if site.social.linkedin %}
            <li><a rel="noopener" target="_blank" href="{{ site.social.linkedin }}"><i class="fab fa-linkedin-in"></i></a></li>
          {% endif %}
        
          {% for page in site.pages %}
            {% if !page.title contains 'About'%}
                <li>
                  <a style="color:#68a;padding:5px" href={{page.permalink}}>{{page.title}}</a>
                </li>
            {% endif %}
          {% endfor %}

        </ul>
      </div>
    </nav>

    <main style="padding-top:15px">
      {{ content }}
    </main>

    <footer>
      <span>
        
        <div style="display:grid;grid-template-columns: 1fr">

          <div style="text-align:center">
            <p>&copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> {{ site.author.name }}</p>
          </div>

        </div>
      </span>
    </footer>
  </body>
</html>
